<p id="notice"><%= notice %></p>

<p>
  <strong>Customerid:</strong>
  <%= @order.customerid %>
</p>

<p>
  <strong>Productid:</strong>
  <%= @order.productid %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @order.quantity %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
